.Container{
    margin: auto;
    width: 250px;
    background-color: red;
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
}

.Box{
    height:250px;
    width: 250px;
    background-color: black;
    overflow: hidden;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.Box>img{
    width: 100%;
}