body{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
}


.MainContainer{
    width: 100%;
    height: 527px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
}


.MainBox{
    height: 500px;
    width: 350px;
    border-radius: 13px;
    border: 4px solid rgb(95, 95, 95);
    overflow: hidden;
    flex: 0 0 auto;
    scroll-snap-align: start;
}


#anni{
    background-color: #41424C;

    height: 100px;
    width: 100%;
}

.flex{
 display: flex;
}

.flex >h1{
    padding-left: 100px;
}

.h1{
    color: #ffffff;
}

.main{
    text-align: center;
}

.ImgBox{
    width: 350px;
    height: 330px;
    background-color: purple;
    overflow: hidden;
    border-radius: 13px;
}


.imgType1{
    width: 100%;
    padding-bottom: 100px;
    object-fit: cover;
    object-position: 0px -40px;
    border-radius: 13px;
}


.CenterDesc{
    text-align: center;
}


.imgType2{
    width: 100%;
    padding-bottom: 100px;
    object-fit: cover;
    object-position: 0px -200px;
    border-radius: 13px;
    height: 200px;
}


.ImgBox{
    width: 350px;
    height: 330px;
    background-color: purple;
    overflow: hidden;
    border-radius: 13px;
}


.ImgBox > img{
    width: 100%;
    padding-bottom: 100px;
    object-fit: cover;
    object-position: 0px -40px;
    border-radius: 13px;
}


.CenterDesc{
    text-align: center;
}


.contato{
    background-color: gray;
    width: 206px;
    height: 230px;
    border-radius: 3px;
    text-align:center;
    margin:auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}


.contato > label{
    color:white;
}


.contato > button{
    width:100px;
    margin: auto
}


.IncInputBoxSize{
    height: 50px;
}

.cat {
    width: 250px;
}
#rodape {
    background-color: hwb(0 72% 28%);
    height: 25px;
    margin: 10px;
    text-align: center;
}

#rodape{
    background-color: #41424C;
}

#rodape{
    background-color: #41424C;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: white;
}